services:

  api:
    build:
      context: ./twitter-clone-backend
      dockerfile: Dockerfile
    image: twitter-clone-api
    container_name: twitter-clone-api
    volumes:
      - twitter-clone-media:/project/media
    ports:
      - 8000:80

  frontend:
    build:
      context: ./twitter-clone-backend
      dockerfile: Dockerfile
    image: twitter-clone-frontend
    container_name: twitter-clone-frontend
    ports:
      - 80:80
    volumes:
      - twitter-clone-media:/usr/share/nginx/media

volumes:
  twitter-clone-media:
    name: twitter-clone-media
